
div .nav-link:hover {
	color: rgb(192,140,57) !important;
}

#navbarScrollingDropdown:hover {
	color: rgb(192,140,57);
}

.dropdown-menu, .dropdown-item {
	background-color: wheat !important;
	color: black !important;
}

.dropdown-item:hover {
	background-color: white !important;
	color: rgb(192,140,57) !important;
	font-weight: bold
}

/****************************************************/

.sombra {
	box-shadow:
		0px 10px 20px 0px black;
}
